/* ALL */
* {
  font-family: "Microsoft YaHei", "Arial", "Helvetica", sans-serif !important;
}

body {
  margin: 0;
}
/* HEADER */
header {
  margin: 0;
  min-height: 60vh;
  max-width: 100vw;
  background-image: url(/src/41313058ced9cad7a1fc58843f17efac_705719549853980869.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% -10vh;
}

#header-flexbox {
  display: flex;
  align-items: flex-start;
  padding: 1%;
}

#header-title {
  padding-left: 8%;
  max-width: 45vw;
}

#header-download-button {
  max-width: 14vw;
  position: absolute;
  right: 5vw;
  top: 8vh;
}

#header-official-site-button {
  max-width: 14vw;
  position: absolute;
  right: 20vw;
  top: 8vh;
}

#header-video-play-button {
  display: flex;
  justify-content: center;
}

#header-video-play-button img {
  position: relative;
  bottom: 20vh;
}

#lantern-png {
  background-image: url(/src/10d5912b1105a3ee66419311cf0d6ba2_2067232246792438049.png);

  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 90vh;
  position: relative;
  top: -28vh;
  margin-bottom: -28vh;
}
/* CHAR INFORMATION */
main {
  background-image: url(/src/cc67571746fdde1f3d5dd4498602f2ae_736159077554624526.jpg);
  background-size: cover;
}

#char-information {
  min-height: 100vh;
}

#char-information-title {
  position: relative;
  height: 30vh;
}

#char-information-title img {
  position: absolute;
  bottom: 45vh;
  right: 0;
  width: 100%;
  height: 100%;
}
